<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="eTronDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=eTronDB;User ID=admin;Password=adminadmin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>