<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="eTronDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=eTronDB;User ID=admin;Password=adminadmin"
            providerName="System.Data.SqlClient" />
        <add name="DataTypesObjects.Properties.Settings.eTronDBConnectionString"
            connectionString="Data Source=ACER\SQLEXPRESS;Initial Catalog=eTronDB;User ID=admin;Password=adminadmin"
            providerName="System.Data.SqlClient" />
        <add name="DataTypesObjects.Properties.Settings.etTempDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Data\Documentos\Ort\Ap.Net\encuestaTron\src\etWeb\App_Data\etTempDB.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="DataTypesObjects.Properties.Settings.eTronDBConnectionString1"
            connectionString="Data Source=LORIEN\SQLEXPRESS;Initial Catalog=eTronDB;Persist Security Info=True;User ID=admin;Password=adminadmin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>